body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.cointainer-1{
    position: relative;
background-color: black;
width: 99rem;
height: 32rem;
border-radius: 1rem;
margin-left: 2rem;
margin-top: 2rem;


}

.text-design{
    position: absolute;
    color: white;
    width:14rem;
height: 20rem;
top: 12px;
left: 45px;
}
.img-1{
    position: absolute;
    background-color: black;
    margin-top: 1rem;
    left: 60rem;
    width: 30%;
    height: 31rem;
}
.text-design-two{
    position: absolute;
    color:white;
    margin-top: 11rem;
    margin-left: 5rem;
    width: 20rem;
    }
    .button {
        position: absolute;
        margin-top: 15rem;
        margin-left: 5rem;
        background-color: #ef0744;
        padding: 15px 32px;
        }

        