body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.cointainer-1{
    position: relative;
background-color: black;
width: 80rem;
height: 28rem;
border-radius: 1rem;
margin-left: 4rem;

}

.text-design{
    position: absolute;
    color: white;
    width:14rem;
height: 20rem;
top: 80px;
left: 160px;
}
.img-1{
    position: absolute;
    background-color: black;
    margin-top: 1rem;
    left: 45rem;
    width: 23rem;
    height: 26rem;
}
.text-design-two{
    position: absolute;
    color:white;
    margin-top: 15rem;
    margin-left: 10rem;
    width: 20rem;
    }
    .button {
        position: absolute;
        margin-top: 18rem;
        margin-left: 10rem;
        background-color: #ef0744;
        padding: 15px 32px;
        }
        